h1 {
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p, figcaption {
    font-size: 25px;
}

p, h1, h2, figcaption { 
    font-family: 'Ubuntu', sans-serif;
}

.img, figcaption {
    text-align: center;
}

.width-space {
    width: 20px;
}

body {
    background-color:cornsilk;
    border: 5px solid black;
    margin: 20px 20px;
    padding: 0px 20px 0px 20px;
}

html {
    background-color: yellowgreen
}

.first-section {
    border: 4px rgb(112, 80, 39) solid;
    padding: 0px 20px 0px 20px;
    background-color: rgb(206, 250, 118);
    border-radius: 15px;
    box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.33);
}

.second-section {
    border: 4px rgb(112, 80, 39) solid;
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.33);
}