h1 {
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p, figcaption {
    font-size: 25px;
}

p, h1, h2, figcaption { 
    font-family: 'Ubuntu', sans-serif;
}

.img, figcaption {
    text-align: center;
}

.width-space {
    width: 20px;
}

body {
    background-color:cornsilk;
}